{{#if addNewPost}}
<h1>New Post!</h1>
<div>
  <form>
    <div class="form-group">
      <label for="date">Date</label>
      {{input value=date id="date"}}
    </div>

    <div class="form-group">
      <label for="title">Title</label>
      {{input value=title id="title"}}
    </div>

    <div class="form-group">
      <label for="image">Image URL</label>
      {{input value=image id="image"}}
    </div>

    <div class="form-group">
      <label for="body">Your New Post</label>
      {{input value=body id="body"}}
    </div>

    <button {{action 'savePost'}}>Save</button>
  </form>
</div>
{{else}}
  <button {{action 'postFormShow'}}>New Post</button>
{{/if}}
