<h1>Welcome to Chewin' the Fat</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel mattis mauris, sit amet sagittis est</p>

<div class="date">
  {{#each model as |post|}}
    <p>{{post.date}}</p>
    <h3>{{post.title}}</h3>
    <img src="{{post.image}}" alt="{{post.title}}" width="400px" height="auto"/>
    <p>{{post.body}}</p>
  {{/each}}
</div>
